// font
$font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
$font-color: #555;

// colors
$color-black: #000;
$color-white: #fff;

// modules
$color-header: #e91e63;
$color-footer: #3f51b5;
